.test-nav {
    display: flex;
    justify-content: center;

}

.test-nav .menuList{
    list-style: none;
    display: flex;
    align-items: center;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    background-color: white;
    height: 40px;
    margin-top: 40px;
    width: 85vw;
    font-size: 30px;
}

.menuList li:not(:last-child){
    margin-right: 20px;
}
.menuList li{
    position: relative;
    top : -20px;
}
.menuList li:hover{
    color : #2c2c2c;
}